name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        zig-version: ['0.15.1']
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    name: Test ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y ffmpeg libavcodec-dev libavformat-dev libavutil-dev libswscale-dev
      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: choco install -y ffmpeg-shared
      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install ffmpeg

      - name: Check format
        if: runner.os == 'Linux'
        run: zig fmt --check ./*.zig src/*.zig

      - name: Test
        run: zig build test -Dvideo=true
